<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.eularmotor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EularMotorApplication"
        android:allowBackup="true"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EularMotor">
        <receiver
            android:name=".speedometer.receiver.SpeedReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.app.eularmotor.receive_speed"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".speedometer.ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".services.VehicleService"
            android:exported="false" />
    </application>

</manifest>