<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.halsystemapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.app.halsystemapp.SYSTEM_PERMISSION"
        android:permissionGroup="android.permission-group.SYSTEM_PERMISSION"
        android:protectionLevel="signature" />


    <application
        android:name="com.app.halsystemapp.EularMotorApplication"
        android:allowBackup="true"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <service
            android:name=".VehicleService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.app.halsystemapp.SYSTEM_PERMISSION">
            <intent-filter>
                <action android:name="service_vehicle" />
            </intent-filter>
        </service>

    </application>

</manifest>